<h2 align="center"> Reporting Page</h2>
<div class="container-fluid" style="width: 80%">
    <div class="row">
        <div class="col-lg-6">
            <button type="button" style="height: 100%; width: 100%">10 Most Popular Cars</button>
        </div>
        <div class="col-lg-6">
            <button type="button" style="height: 100%; width: 100%">Top 5 Sellers</button>
        </div>
    </div>
</div>